<main>
    <section class="form-section">
        <div class="form-logo">
            <img class="form-section-img"src="/assets/img/login/logo-login.png"/>
            <span class="form-section-span">PedeMais1</span>
        </div>
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="button-whopper">
            <button class="button-primary" (click)="submit()">{{primaryBtnText}}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>Ta com fome? PedeMais1! </h1>
        <img class="main-section-img" src="/assets/img/login/image-login.svg"/>
    </section>
</main>