<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <button class="btn btn-link">
                <img src="../../../../assets/icons/menu-aberto.png" alt="" width="24px" height="24px">
            </button>
        </div>
        <div class="form-logo">
            <img class="form-section-img"src="/assets/img/login/logo-login.png"/>
            <span class="form-section-span">PedeMais1</span>
        </div>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarText">
        
        <span class="navbar-text">
          User
        </span>
      </div>
    </div>
  </nav>